.main-div {
  width: 75vw;
}

h1 {
  text-align: center;
}
img {
  width: 35vw;
}

.div-images {
  visibility: hidden;
}

#original-img {
  visibility: hidden;
}

#flipped-img {
  -webkit-transform: scaleX(-1);
  /* visibility: visible; */
}

table {
  border: 2px black solid;
  border-collapse: collapse; /* this is removing the space between the cells*/
  /* visibility: hidden; */
  /* this will hide the whole table, but won't change the layout, meaning the hidden element still takes its space on the page | as opposed to display:none which removes the element and removes the space occupied by the element */
}
table tr td {
  width: 35vw;
  height: 10vh;
  padding: 1vw;
  border: 2px black solid;
}

tr:nth-child(2) {
  background-color: hotpink; /* this will give a background color to the second row*/
  border: 2px black solid;

  visibility: visible; /* this will make the second row visible, even if the table's visibility is set to "hidden"*/
}
tr:nth-child(3) {
  background-color: rgba(21, 21, 141, 0.5);
  border: 2px black solid;
  visibility: visible; /* this will make the third row visible, even if the table's visibility is set to "hidden"
*/
  /* visibility: collapse; this will remove the element and the space it occupies --- however, the size of the other rows and columns are still calculated the same way */
}
